p {
    font-size: 20px;
    font-weight: bold;

    em {
        background: yellow;
        padding: 5px;
        
    }
}

#myTable {

    background-color: black;

    td {
        background-color: yellow;
        color: black;
        padding: 30px;
    }
}

.scrollable-container {
    overflow-y: auto;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    border: 1px solid rgb(30, 16, 225);
    margin: 5px;
    padding: 50px 15px;
    text-align: center;
    width: 500px;
}

.item > div {
    margin-top: 10px; /* Adjust as needed */
}

.spillage-yes {
    border: 2px solid red;
}

.spillage-no {
    opacity: 0.2;
}
